* {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
}

/* unversal classlar  */
.container {
      width: 1200px;
      margin: 0px auto;
}

.font-fraunces {
      font-family: 'Fraunces', serif;
      font-weight: 900;
}

.font-barlow-700 {
      font-family: 'Barlow', sans-serif;
      font-weight: 700;
}

.font-barlow-400 {
      font-family: 'Barlow', sans-serif;
      font-weight: 400;
}
.navbar-menu{
      display: none;    
}

/* Header boshlandi*/
/* Navbar boshlandi*/
.nav {
      height: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.navbar {
      display: flex;
      list-style: none;
      text-transform: uppercase;
}

.navbar__item {
      margin-left: 30px;
      font-style: 12px;
}

.navbar__item a {
      text-decoration: none;
      color: #83888F;
}

/* Navbar tugadi*/
/* Banner qismi*/
.banner {
      max-height: 600px;
      background-color: #83888F;
      border-radius: 10px;
      padding-left: 80px;
      padding-top: 120px;
}

.banner__name {
      font-size: 72px;
      color: #FEFCF7;
}

.banner__text {
      font-size: 16px;
      line-height: 26px;
      color: #FEFCF7;
      margin-top: 30px;
}

.all-btn {
      background: #0E8784;
      border-radius: 6px;
      border: none;
      padding: 15px 30px;
      font-size: 18px;
      color: #FEFCF7;
      margin-top: 50px;
}
.banner__btn{
      margin-bottom: 120px;
}

/* header qismi tugadi*/
/* body qismi boshlandi*/

.body {
      margin-top: 250px;
}

.row-text {
      display: flex;
}

.col-text {
      text-align: center;
      margin: 15px;
}

.row-text img {
      height: 200px;
}

.col-text__caption {
      font-size: 24px;
      color: #333D4B;
      margin-top: 70px;
}

.col-text__words {
      font-size: 16px;
      margin-top: 25px;
}

/* Body tugadi*/
/* footer qosmi boshlndi*/

.footer {
      margin-top: 180px;
      height: 600px;
      background-color: #333D4B;
      padding-top: 120px;
      border-radius: 10px;
}

.footer-name {
      font-size: 40px;
      text-align: center;
      color: #FEFCF7;
}

.footer-text {
      font-size: 16px;
      text-align: center;
      line-height: 26px;
      color: #FEFCF7;
      margin-top: 30px;
}

.footer-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
}

.footer-row__col {
      width: 350px;
      height: 380px;
      background: #0E8784;
      margin: 15px;
      border-radius: 8px;
      margin-top: 86px;
}

.footer-row__col:last-child {
      padding-top: 18px;
}

.footer-row__col img {
      width: 70px;
      margin: 72px 143px 0 143px;
}

.footer-col-theme {
      font-size: 24px;
      text-align: center;
      color: #FEFCF7;
      margin-top: 56px;
}

.footer-col-text {
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      color: #FEFCF7;
      margin-top: 24px;
}

/* Footter-row-2 boshlandi*/
.container-2 {
      width: 1045px;
      padding-left: 45px;
}

.footer-row-2-name {
      font-size: 24px;
      color: #83888F;
      margin-top: 200px;
}

.footer-row-2-circle {
      display: flex;
      justify-content: space-between;
      width: 730px;
      height: 35px;
      margin-top: 80px;
      position: relative;
}

.circle {
      z-index: 2;
}

.line {
      position: absolute;
      top: 45%;
      background: #FDD6BA;
      z-index: 1;
      width: 730px;
      border: 2px solid #FDD6BA;
}

/* Footerni 3-qatori boshlandi*/
.footer-row-3 {
      margin-top: 67px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 95px;
}

.footer-col-3__number {
      font-size: 72px;
      color: #FDD6BA;
}

.footer-col-3__theme {
      font-size: 32px;
      color: #333D4B;
      margin-top: 38px;
}

.footer-col-3__text {
      font-size: 16px;
      color: #333D4B;
      margin-top: 42px;
}

/*footer-nav boshlandi*/
.footer-nav {
      background-color: #2C343E;
      height: 120px;
      width: 100%;
      margin-top: 200px;
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.footer-navbar {
      display: flex;
      height: 26px;
      align-items: center;
      list-style: none;
      margin-left: 45px;
}

.footer-logo-img {
      height: 25px;
}

.footer-navbar__item {
      font-size: 12px;
      letter-spacing: 0.923077px;
      color: #83888F;
      margin-left: 32px;
}
.one{
      margin-left: 100px;
}

.footer-nav-icons {
      margin-right: 45px;
}
.footer-nav-icons img{
      margin-right: 24px;
}
